textarea{
    width: 100%;
    padding: 10px;
}
.fontWeight{
    font-weight: 900;
}
.fontItalic{
    font-style: italic;
}
.fontUnderLine{
    text-decoration: underline;
}

.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;
}
.textRight{
    text-align: right;
}
.textJustify{
    text-align: justify;
}

.textCapitalize{
    text-transform: capitalize;
}